body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.bg {
    background: url('../img/bg.png') no-repeat;
    background-size: cover;
    width: 100%;
    height: 840px;
    position: absolute;
    z-index: -1;
}

.d-flex {
    display: flex;
}

.fd-column {
    flex-direction: column;
}

.d-none {
    display: none;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.header {
    color: #fff;
}

.navbar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
}

.h_button {
    width: calc(400px/3);
    padding-left: 2rem;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.875rem;
    cursor: pointer;
}

.h_button > img {
    padding-right: 1.5rem;
}

.h_button:first-child {
    padding-right: 1rem;
}

.h_button > img:last-child {
    padding-right: 0;
}

.middle {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    height: 2rem;
}

._right {
    float: right;
    align-items: center;
}

.menu {width: 2.6rem;padding-right: 3rem;}
.logo {width: 10rem;}

.h_desc {
    text-align: right;
    padding-top: 7rem;
    padding-left: 25rem;
    width: 420px;
}

.h_desc > h1 {
    margin: 0;
}

.h_desc > p {
    line-height: 1.6rem;
}

.price {
    color: #3EC6E0;
    display: inline-flex;
    align-items: center;
}

.price > h1 {
    margin: 0;
    font-size: 4.3rem;
}

.price > h7 {
    font-weight: bolder;
    padding-bottom: 2rem;
}

._contact {width: 26px; height: 21px;}._search {width: 25px; height: 25px;}._cart {width: 22px; height: 26px;}

.outdoor {
    margin-top: 15rem;
    justify-content: space-between;
}

.out_game1, .out_game2 {
    width: calc(1150px/2);
}

.out_desc {
    align-items: center;
    justify-content: space-between;
    font-weight: bolder;
    padding: 1.2rem;
    border-left: 10px solid #084154;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #084154;
    background-color: #3EC6E0;
}

._bar {border-top: 1.5px solid #084154; width: calc(80%/2);}

.content_title {
    margin-top: 2rem;
    align-items: center;
}

.content_title > h2 {
    font-weight: 400;
}

._focus {
    width: 1.75rem; 
    height: 1.75rem;
    padding-right: 1.2rem;
}

.products {
    margin-top: 3rem;
    justify-content: space-around;
}

.product {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px 7px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
}

.p_img {
    padding: 3rem 4rem;
    width: 12.875rem;
    height: 16.625rem;
}

.spec {
    border-top: 2px solid #3EC6E0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #F5F5F5;
    padding: 2rem;
    text-align: center;
}

.spec > div {
    text-align: left;
}

.spec > div > h4 {
    margin: 0;
    font-weight: 400;
    max-width: 15rem;
    height: 3rem;
}

.btn {
    justify-content: space-around;
    border: 0;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 1rem 4rem;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.btn-buy {
    background-color: #3EC6E0;
}

.btn-buy:hover {
    background-color: #69d8ee;
}

.footer {
    margin-top: 10rem;
    flex-direction: row;
    background-color:#084154;
}

.d-footer {
    align-items: center;
}

.d-footer > p {
    margin: 0;
    font-size: 0.875rem;
    color: #fff;
    padding: 1rem 3rem;
    background-color: #3EC6E0;
    width: 100%;
}

.ag_logo {
    background-color:#084154;
    width: 2.625rem;
    height: 1.75rem;
    padding: 0 3rem 0 26rem;
}